@import "../../global.scss";

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .up {
    margin: 1% 7%;

    .code-about {
      font-family: "La Belle Aurore", cursive;
      font-size: 3.5rem;
      color: $hoverColor;
    }

    .head1:before {
      content: "<";
    }

    .head1:after {
      content: ">";
    }

    .head2:before {
      content: "</";
    }

    .head2:after {
      content: ">";
    }

    .head1 {
      margin-bottom: 30px;
    }

    .head2 {
      text-align: right;
    }

    .p-about {
      font-family: "Rock Salt", cursive;
      font-size: 1.4rem;
      margin: 10px;

      @include mobile {
        font-size: 1.1rem;
      }
    }
  }

  .down {
    .icons {
      margin-top: 30px;

      .icon {
        margin: 30px;
        width: 5rem;
        height: 5rem;
        box-shadow: 0 0 25px rgba(45, 49, 66, 0.15);
        transform: 300s;

        .icon:hover {
        translate: y - 4px; }

        @include mobile {
          margin: 10px;
          width: 2rem;
        }
      }
    }
  }
}
